<section class="actions-panel">
  <select [(ngModel)]="selectedType">
    <!--'tarea' | 'clase' | 'topic' | 'nota' | 'assignment'  -->
    <option value="tarea">Tarea</option>
    <option value="clase">Clase</option>
    <option value="topic">topic</option>
    <option value="nota">nota</option>
    <option value="assignment">assignment</option>


  </select>

  <input [(ngModel)]="title" placeholder="Título">
  <input type="date" [(ngModel)]="dueDate">

  <button (click)="create()"><fa-icon [icon]="['fas', 'plus']"></fa-icon> Crear</button>
</section>
