.app-layout {
  display: grid;
  grid-template-columns: 280px 1fr 300px;
  min-height: 100vh;
  gap: 16px;
  padding: 16px;
}
.main {
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  padding: 2% 2% 10% 2%;
}
.banner-img {
  object-fit: cover;
  height: 400px;
  width: 100%;
  object-position: 0% 30%;
}
.sidebar-left {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sidebar-right {
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.title-section-block{
  background-color: var(--accent) ;
  font-size: 1.3em;
  padding: 15px;
  border-radius: 8px;
  font-weight: 600;
  align-items: center;
}
